.card {
    margin-top: 5%; /* Centra verticalmente la tarjeta */
    width: 20rem;
    margin-bottom: 10%;
    margin-left: 35%;
   
}
.buscador{
    text-align: center;
    margin-top: 5%;

    
   
}