h1{text-align: center;}
h3{
    text-align: center;
}
.btn {
    display: inline-block;
    
    font-size: 14px; /* Tamaño de la fuente del texto */
    text-align: center; /* Alinea el texto al centro */
    
  }