
<div class="container py-5">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Todo sobre nosotros AppComic</h1>
        <p class="col-md-8 fs-4"> Explora el universo de tus superhéroes favoritos con nuestra amplia colección de cómics. Desde los clásicos hasta las últimas novedades, todo al alcance de tus manos..</p>
        <button class="btn btn-primary btn-lg" type="button">Descubre más</button>
      </div>
    </div>
  </div>